

# Virtual Host configuration for example.com
#
# You can move that to a different file under sites-available/ and symlink that
# to sites-enabled/ to enable it.
#
server {
       listen 80;
       listen [::]:80;

       server_name _;

       root /home/ubuntu/bottle/www;
       index index.html;

       location / {
            try_files $uri $uri/ =404;
          
       }
}
server {
       listen 80;
       listen [::]:80;

       server_name js.bottle.remotehack.space;
       server_name *.js.bottle.remotehack.space;

       # root /home/ubuntu/bottle/www;
       # index index.html;

       location / {
            try_files $uri $uri/ =404;

            proxy_pass http://127.0.0.1:8000;
            proxy_set_header Host $host;

       }
}

server {
       listen 80;
       listen [::]:80;

       server_name go.bottle.remotehack.space;
       server_name *.go.bottle.remotehack.space;

       # root /home/ubuntu/bottle/www;
       # index index.html;

       location / {
            try_files $uri $uri/ =404;

            proxy_pass http://127.0.0.1:7889;
            proxy_set_header Host $host;

       }
}
